<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Create a safer world">
    <meta name="keywords" content="Global warming, Carbon levels, Greenhouse gases, Technology, Deforestation">
    <link rel="shortcut icon" href="logo-circular.png">
    <link rel="stylesheet" href="style.css">
    {% endblock %}
</head>

<body>
    {% block content %}
    {% endblock %}
    <footer>Team <strong>VWS Guardos</strong>: Pranav Balaji Pooruli, Dhanvanth Aditya N.M., Roshan Christopher
        Prince<br>Idea, design, and development: Pranav Balaji Pooruli</footer>
</body>

</html>