@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

:root {
  --title-subtitle-margin: 16px;
}

html,
body {
  height: 100vh
}


body {
  font-family: 'Gabarito', sans-serif;
  background-image: linear-gradient(#ffffff80, #ffffff80), url('/static/background.svg');
  background-size: cover;
  padding: 0;
  margin: 0;
  height: 100%;
}


h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: var(--title-subtitle-margin);
}

h2 {
  text-align: center;
  color: dimgray;
  margin: var(--title-subtitle-margin);
}

p {
  padding-left: 8px;
}

p,
li,
h4 {
  font-size: 110%;
}

h4 {
  margin: 2px;
}

input {
  width: 40%;
  height: 30px;
  border: 1px solid dimgray;
  border-radius: 8px;
  font-size: 18pt;
  font-family: Gabarito, sans-serif;
  margin-left: 32px;
}


div.cardholder {
  display: flex;
  flex-wrap: wrap;
}

div.card {
  background-color: white;
  border: 1px solid dimgray;
  border-radius: 8px;
  width: 16%;
  padding: 8px;
  margin: 16px 8px 0 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
  height: 30px;
  border: 1px solid dimgray;
  border-radius: 8px;
  font-size: 18pt;
  font-family: Gabarito, sans-serif;
  margin-left: 8px;
}