@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

html,
body {
  height: 100%;
}

body {
  font-family: 'Gabarito', sans-serif;
  background-image: url('/static/background.png');
  background-size: cover;
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 110%;
  color: ghostwhite;
}

body * {
  margin: 8px;
}


h1.title {
  text-align: center;
}

h2.subtitle {
  text-align: center;
  color: lightgray;
}

h3.subheading {
  margin: 16px;
}

h4 {
  margin: 12px;
}

a {
  color: cyan;
  padding: 0;
  margin: 0;
}

p {
  padding-left: 8px;
}


div.imgholder {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 4px;
}

div.imgsholder {
  display: flex;
  flex-direction: row;
  width: 96%;
}

div.imgholder img {
  border: 1px solid ghostwhite;
  border-radius: 8px;
  width: 100%;
  height: auto;
}

div.cardholder {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

div.card {
  background-color: darkslategray;
  border: 1px solid lightgray;
  border-radius: 8px;
  width: auto;
  padding: 2px;
  margin: 16px 8px 0 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

strong {
  margin: 2px;
  font-size: 105%;
}

strong#carbon-level {
  font-size: 120%;
  margin: 8px 2px;
}

div.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

div.title button {
  margin: 0;
  border-radius: 8px;
  border: none;
  background-color: #00000000;
  color: ghostwhite;
  font-size: 120%;
}

sub {
  margin: 0;
}

footer {
  background-color: ghostwhite;
  color: #333;
  position: sticky;
  width: 99.2%;
  bottom: 0;
  left: 0;
  border-radius: 4px;
}

span#seconds {
  margin: 2px;
}

div.maxheight {
  height: 100%;
}