<!DOCTYPE html>
<html>

<head>
  <title>Guardo: Your guide to safety</title>
  <link rel="stylesheet" href="/static/global.css">
  <script src="https://cdn.jsdelivr.net/npm/kute.js@2.2.4/dist/kute.min.js"></script>
</head>

<body>
  <div class="main">
    <h1>Guardo</h1>
    <h2>Your guide to safety</h2>
    <hr>
    <p>Guardo offers a wide variety of hand-picked safety tips, which can be seamlessly sifted through to find those
      most relevant to you.</p>
    <input type="text" placeholder="search…">
    <div class="cardholder">
      <div class="card">
        <h4>Card 1</h4>
        <ul>
          <li>Yes</li>
          <li>…</li>
        </ul>
      </div>
      <div class="card">
        <h4>No</h4>
        <ul>
          <li>Brooo</li>
          <li>…</li>
        </ul>
      </div>
      <div class="card">
        <h4>Sample</h4>
        <ul>
          <li>Ugh</li>
          <li>…</li>
        </ul>
      </div>
      <div class="card">
        <h4>How much</h4>
        <ul>
          <li>More</li>
          <li>…</li>
        </ul>
      </div>
      <div class="card">
        <h4>Ughhh</h4>
        <ul>
          <li>Come on</li>
          <li>…</li>
        </ul>
      </div>
      <div class="card">
        <h4>Finally</h4>
        <ul>
          <li>it's</li>
          <li>…</li>
        </ul>
      </div>
    </div>
  </div>
</body>

</html>