<!DOCTYPE html>
<html>

<head>
  <title>Guardo: Create a safer world</title>
  <link rel="stylesheet" href="/static/global.css">
</head>

<body>
  <h1>Guardo</h1>
  <h2>Create a safer world</h2>
  <hr>
  <p>&emsp;Global warming is one of the biggest problems of today's world. Global warming leads to climate change,
    which in turn has been increasing the risk of natural hazards all around the world.</p>
  <p>&emsp;
    <q>With increasing global surface temperatures the possibility of more droughts and increased intensity of storms
      will
      likely occur. As more water vapor is evaporated into the atmosphere it becomes fuel for more powerful storms to
      develop. More heat in the atmosphere and warmer ocean surface temperatures can lead to increased wind speeds in
      tropical storms. Rising sea levels expose higher locations not usually subjected to the power of the sea and to
      the
      erosive forces of waves and currents.</q> — <a
      href="https://www.usgs.gov/faqs/how-can-climate-change-affect-natural-disasters#:~:text=With%20increasing%20global%20surface%20temperatures,more%20powerful%20storms%20to%20develop.">U.S.
      Geological Survey</a>
  </p>
  <!-- <div class="cardholder">
    {% for topic in data %}
    <div class="card">
      <a href={{'/' + topic['slug']}}>
        <h4>{{ topic['title'] }}</h4>
      </a>
      <ul>
        {% for tip in topic['tips'] %}
        <li>{{ tip }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div> -->
</body>

</html>