{% extends "layout.html" %}
{% block head %}
{{ super() }}
<title>Technological innovation | Guardo</title>
{% endblock %}
{% block content %}
<div class="title">
    <form action="/"><button type="submit">&xlarr;</button></form>
    <h1 class="title">Technological innovation</h1>
</div>
<hr>
<h3 class="subheading">What is technological innovation?</h3>
<p>&emsp;Technological innovation, in terms of global warming, is the introduction of new technologies which can work
    towards reducing greenhouse gas emissions. Examples include:</p>
<ul>
    <li>Carbon capture and storage (CCS)</li>
    <li>Direct air capture (DAC)</li>
    <li>Renewable energy sources</li>
    <li>Energy-efficient appliances</li>
    <li>Electric vehicles</li>
</ul>
<h3>How do these technolgies work?</h3>
<p>&emsp;Carbon capture and storage (CCS) technology captures CO<sub>2</sub> emissions from power plants and industrial
    facilities and stores them underground, where they cannot escape into the atmosphere. This technology is still in
    its early stages of commercialization, but it has the potential to significantly reduce CO<sub>2</sub> emissions
    from these sources.</p>
<div class="imgholder">
    <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/15C7A/production/_128701298_north_sea_carbon_capture_2x640-nc.png"
        alt="Carbon capture and storage">
    <span>Carbon capture and storage</span>
</div>
<p>&emsp;Direct air capture (DAC) technology captures CO<sub>2</sub> directly from the atmosphere. This technology is
    also in its early stages of commercialization, but it has the potential to play a role in removing excess
    CO<sub>2</sub> from the atmosphere and mitigating the effects of climate change.</p>
<div class="imgholder">
    <img src="https://research-assets.cbinsights.com/2021/03/30134959/DAC-Process-V2.png"
        alt="How direct air capture technology works">
    <span>How direct air capture technology works</span>
</div>
<p>&emsp;Renewable energy sources, such as solar, wind, and geothermal power, do not produce CO<sub>2</sub> emissions.
    By investing in renewable energy, we can reduce our reliance on fossil fuels and reduce CO<sub>2</sub> emissions.
    Ocean waves are also being used to generate electricity (wave power) but this technology is still in its early
    stages. On the other hand, solar, wind, geothermal, and HEP have been well-known technologies for a long time and
    can be relied on.</p>
<div class="imgholder">
    <img src="https://solarpower.guide/solar-energy-insights/infographics/how-do-solar-panels-work.png"
        alt="How solar panels work">
    <span>How solar panels work</span>
</div>
<p>&emsp;Energy-efficient appliances consume less energy than their inefficient counterparts, and this reduces the
    amount of fossil fuel combustion that has to take place and therefore carbon dioxide levels too.</p>
<div class="imgholder">
    <img src="https://cdn.shopify.com/s/files/1/0694/5151/4161/files/LED-CLF-Incandescent_1024x1024.jpg?v=1674109767"
        alt="LED lights are very efficient and cause less CO₂ emissions">
    <span>LED lights are very efficient and cause less CO<sub>2</sub> emissions</span>
</div>
<p>&emsp;Electric vehicles make use of electricity instead of combusting fuels internally. These have the potential to
    cause no harm at all to the environment, because the electricity used can come from renewable sources of energy.</p>
<div class="imgholder">
    <img src="https://lh5.googleusercontent.com/p1_DbEm0foDEHv7RPrKY-qEqPDeI9v6FX8TGfHic7STQCfQfqfBbrT7FOvVNxoOgooD4S84TtxsXYE4WOsZWVSmkK6mLnYiqcNRdiQrNCdAnFQsugRJze3d6S0HIxk7xygLyrquN"
        alt="Advantages of electric vehicles">
    <span>Advantages of electric vehicles</span>
</div>
<h3 class="subheading">What you can do</h3>
<p>&emsp;Implementing energy efficiency is one of the easiest things you can do to reduce carbon emissions. Here are
    some examples of energy-efficient appliances that you could use:</p>
<ul>
    <li>LED light bulbs: LED light bulbs use up to 90% less energy than incandescent bulbs and last up to 25 times
        longer.</li>
    <li>Energy Star appliances: Energy Star appliances are certified to meet strict energy efficiency standards. They
        are available for a wide range of appliances, including refrigerators, washing machines, dryers, dishwashers,
        and air conditioners.</li>
    <li>Smart thermostats: Smart thermostats can learn your heating and cooling habits and adjust the temperature
        automatically to save energy.</li>
    <li>Water-efficient appliances: Water-efficient appliances, such as low-flow toilets and showerheads, can help to
        reduce your water consumption and energy bills.</li>
    <li>Appliances with built-in energy-saving features: Many appliances now come with built-in energy-saving features,
        such as automatic shut-off and sleep mode.</li>
</ul>
<p>&emsp;Electric vehicles tend to be more expensive than conventional vehicles, but this is mostly because they are not
    a widely used technology yet. If in the financial state to buy and use an electric vehicle instead of a fuel-powered
    one, doing so could be very beneficial for the environment. Here are some examples of electric vehicles that are
    available or may be available in the future:</p>
<ul>
    <li>Tesla Model X</li>
    <li>Chevrolet Bolt EV</li>
    <li>Nissan Leaf</li>
    <li>Volkswagen ID.4</li>
    <li>BMW iX</li>
    <li>Mercedes-Benz EQS</li>
    <li>Volvo XC40 Recharge</li>
</ul>
<p>&emsp;Finally, if possible, work with a local environmentalist group to promote renewable energy sources and
    technologies such as CCS and DAC and to spread awareness. These technologies have the potential to reduce carbon
    emissions greatly.</p>
{% endblock %}